name: Go Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.24', '1.25', '1.26' ]
    env:
      CGO_ENABLED: "0"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: go build
        run: go build -o isg_exporter
      - name: go test
        run: go test
